header {
  .header {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    padding: 1rem;
    .header-middle {
      ul {
        display: flex;
        gap: 20px;
        li {
          a {
            color: #000;
          }
        }
      }
    }
  }
}
